.header{
	background-color: #333399;
	color:#fff;
}
table th{
	text-align: center;
	vertical-align: middle;
}
table td{
	vertical-align: middle;
}
b{
	font-size: 11px;
}
.bckgreen{
	background-color: #00b050;
}
.bckorange{
	background-color: #ffc000;
}
.bckred{
	background-color: #f07746;
}
.bckgray{
	background-color: #595959;
}